<html>

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.js"></script>
    <script src="/client.js"></script>
    <script src="/cards.js"></script>
    <link rel="stylesheet" href="/client.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <div class="table" ng-class="{'debug' : gameState.debug, 'buy' : gameState.phase === 'buy', 'action' : gameState.phase === 'action', 'select' : gameState.phase === 'select', 'choose' : gameState.phase === 'choose'}" ng-app="Dominion">
        <script type="text/ng-template" id="card.html">
            <img style="position: absolute; border:0px; width: 100%; height: 100%; top: 0px; left: 0px; opacity: 0.4" src="{{cards[card.id].image}}" />
            <span class="card-name">{{ cards[card.id].name }}</span>
            <span class="card-type">{{ cards[card.id].type }}</span>
            <span class="card-cost">{{ cards[card.id].cost }}</span>
            <span style="background: rgba(255,255,255,0.8);" class="card-description">{{ cards[card.id].description }}</span>
        </script>
        <div class="opponents">
            <div ng-class="{'active' : (gameState.playerOrder[gameState.activePlayer] === player.id)}" class="player" ng-repeat="player in gameState.players" ng-if="player.id !== you.id">
                id : {{ player.id }}
                <ul class="hand">
                    <h4>hand</h4>
                    <li ng-class="cards[card.id].type" class="stacked small card" ng-repeat="card in player.hand track by $index">
                        {{ cards[card.id].name }}
                    </li>
                </ul>
                <ul class="deck">
                    <h4>deck</h4>
                    <li class="stacked small card">deck empty</li>
                    <li class="stacked small card" ng-repeat="card in player.deck track by $index">
                        {{ cards[card.id].name }}
                    </li>
                </ul>
                <ul class="discarded">
                    <h4>discard</h4>
                    <li class="stacked small card">discard pile empty</li>
                    <li ng-class="cards[card.id].type" class="stacked small card" ng-repeat="card in player.discarded track by $index">
                        {{ cards[card.id].name }}
                    </li>
                </ul>
            </div>
            <div style="clear:both;"></div>
            <div ng-if="gameState.phase === 'pregame'">
            <div>players: {{gameState.playerOrder.length}}</div>
            <ul>
                <li ng-repeat="player in gameState.players">
                    {{ player.name || player.id }}
                </li>
            </ul>
            <div style="position: absolute; right: 0px; top: 0px;">
                <div ng-click="startGame()" class="start button">Start game</div>
                <div ng-click="startGame(true)" class="start button">Start dev game</div>
            </div>
        </div>
        </div>
        <div class="bank">
            <ul class="trash">
                <h4>trash</h4>
                <li class="stacked card">trash empty</li>
                <li class="stacked card" ng-repeat="card in gameState.trash track by card.uid">
                    <ng-include src="'card.html'"></ng-include>
                </li>
            </ul>
            <ul class="buyable">
                <li ng-click="select(card, $index, 'buy', $event)" ng-class="['COST'+cards[card.id].cost, 'ID'+cards[card.id].id, cards[card.id].type]" class="card" ng-repeat="card in gameState.board track by $index">
                    <ng-include src="'card.html'"></ng-include>
                    <div style="position: absolute; background: white; width: 18px; height: 15px; line-height:15px; border: 2px solid black; text-align: center; top: -4px; left: -4px;">{{card.supply}}</div>
                </li>
            </ul>
            <div class="log" id="output"></div>
            <div class="choice-dialog dialog" ng-if="(gameState.playerOrder[gameState.activePlayer] === you.id) && (gameState.phase === 'choose')">
                <div class="message">{{gameState.queryData.message}}</div>
                <div class="button" ng-click="choose($index, $event)" ng-repeat="choice in gameState.queryData.choices">{{choice}}</div>
            </div>
            <div class="select-dialog dialog" ng-if="(gameState.playerOrder[gameState.activePlayer] === you.id) && (gameState.phase === 'select')">
                <div class="message">{{gameState.queryData.message}}</div>
                <div ng-if="!gameState.queryData.exact" ng-click="submit()" class="button">ok</div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="played">
            <ul class="played-cards">
                <li style="opacity:0; width:0px; margin:0px 0px 10px; border:0px; padding: 0px;" class="card"></li>
                <li ng-class="[cards[card.id].type]" class="animation card" ng-repeat="card in gameState.players[gameState.playerOrder[gameState.activePlayer]].played track by card.uid">
                    <ng-include src="'card.html'"></ng-include>
                </li>
            </ul>
            <ul class="revealed" style="position: absolute; left: 600px; top:10px;">
                <li ng-click="select(card, $index, 'revealed', $event)" ng-class="['COST'+cards[card.id].cost, 'ID'+cards[card.id].id, cards[card.id].type,]" class="card" ng-repeat="card in gameState.revealed track by card.uid">
                    <ng-include src="'card.html'"></ng-include>
                </li>
            </ul>
            <div style="clear:both;"></div>
            <div class="turn-info">phase : {{gameState.phase}}</div>
            <ul class="player-stats">
                <li class="player-stat">
                    <div class="coins icon"><i class="fa fa-circle-o"></i>
                        <div>{{clientPlayer.coins}}</div>
                    </div>
                </li>
                <li class="player-stat">
                    <div class="actions icon"><i class="fa fa-share"></i>
                        <div>{{clientPlayer.actions}}</div>
                    </div>
                </li>
                <li class="player-stat">
                    <div class="buys icon"><i class="fa fa-shopping-cart"></i>
                        <div>{{clientPlayer.buys}}</div>
                    </div>
                </li>
            </ul>
            <div style="clear:both;"></div>
        </div>

        <div class="you" ng-class="{'disabledxx' : (gameState.playerOrder[gameState.activePlayer] != you.id)}">
            <div ng-class="{'active' : (gameState.playerOrder[gameState.activePlayer] === you.id)}" class="player">
                <ul class="hand" ng-class="{'has-actions' : clientPlayer.actions > 0, 'has-no-actions' : clientPlayer.actions === 0}">
                    <h4>hand</h4>
                    <li ng-click="select(card, $index, 'hand', $event)" ng-class="['COST'+cards[card.id].cost, 'ID'+cards[card.id].id, cards[card.id].type,]" class="animation card" ng-repeat="card in clientPlayer.hand track by card.uid">
                        <ng-include src="'card.html'"></ng-include>
                    </li>
                    <li style="clear:both"></li>
                </ul>
                <div class="deck">
                    <ul>
                        <h4>deck</h4>
                        <li class="stacked small card">deck empty</li>
                        <li ng-class="[cards[card.id].type]" class="stacked small card" ng-repeat="card in clientPlayer.deck track by $index">
                            <ng-include src="'card.html'"></ng-include>
                        </li>
                    </ul>
                </div>
                <div class="discarded">
                    <ul>
                        <h4>discard</h4>
                        <li class="stacked small card">discard pile empty</li>
                        <li ng-class="[cards[card.id].type]" class="animation stacked small card" ng-repeat="card in clientPlayer.discarded track by $index">
                            <ng-include src="'card.html'"></ng-include>
                        </li>
                    </ul>
                </div>
                <div class="end button" ng-click="endTurn()">
                    End Turn
                </div>
               
                <div class="clear: both"></div>
            </div>
        </div>
       
    </div>
</body>

</html>
