@import url(http://reset5.googlecode.com/hg/reset.min.css);
* {
    font-family: "Open Sans";
    user-select: none;
    -webkit-user-select: none;
}

body {
    overflow-x: hidden;
}

.table {
    height: 800px;
    width: 1100px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    margin-top: -400px;
    top: 50%;
    background: black;
}
.table.select .bank .buyable .card, .disabled {
    opacity: 0.2;
}
.table.choose .bank .buyable .card, .disabled {
    opacity: 0.2;
}
.selectable {
    opacity: 1 !important;
    box-shadow: 0px 0px 5px 5px rgba(0,255,0, 0.9);
}
.choosable {
    opacity: 1 !important;
    box-shadow: 0px 0px 5px 5px rgba(0,255,0, 0.9);
}

.attacking .selectable {
    opacity: 1 !important;
    box-shadow: 0px 0px 5px 5px rgba(255,0,0, 0.9);
}

.dialog {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    background: white;
    height: 150px;
    width: 400px;
    text-align: center;
    z-index: 1;
}
.dialog .button {
    padding: 5px;
    border: 1px solid black;
    margin: 10px;
}
.choice-dialog .button {
    opacity: 0.2;
}
.select-dialog .button {
     box-shadow: 0px 0px 5px 5px rgba(0,255,0, 0.9);
}

.flip-container {
	perspective: 1000;
}
.flip-container.flipped .flipper, .flip-container.hover .flipper {
	transform: rotateX(180deg);
}

.flip-container, .front, .back {
	width: 160px;
	height: 100px;
}
.flip-container .flipper {
	transform-origin: 100% 50px;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
	background: #55EE33;
}
.back {
	transform: rotateX(-180deg);
	background: #444;
}
.end.button {
	color: rgba(0,0,0,0.6);
	text-align: center;
	font-weight: bold;
	position: absolute;
	box-sizing: border-box;
    bottom: 25px;
    right: 20px;
    height: 100px;
    width: 160px;
}
.play-all-treasures.button {
	color: rgba(0,0,0,0.6);
	text-align: center;
	font-weight: bold;
	position: absolute;
	box-sizing: border-box;
    bottom: 25px;
    right: 250px;
    width: 160px;
    padding: 40px 0px;
	box-sizing: border-box;
	border: 2px solid rgba(255,255,255,0.75);
	border-radius: 5px;
	background: rgba(222,200,0,1);
}
.end.button .front, .end.button .back {
	padding: 40px 0px;
	box-sizing: border-box;
	border: 2px solid rgba(255,255,255,0.75);
	border-radius: 5px;
}

.turn-notification {
	font-size: 48px;
	background: white;
	padding: 20px;
	position: absolute;
	margin: auto;
	width: 800px;
	left: 100px;
	top: 50px;
	z-index: 1;
	opacity: 0;
	animation-duration: 0.4s;
	text-align: center;
}
.turn-notification.zoomOut {
	animation-delay: 1.7s;
	opacity: 1;
}
.turn-notification.zoomIn {
	opacity: 1;
}

.small.card {
    height: 50px;
    width: 35px;
}
.small.card .card-description, .small.card .card-type, .small.card .card-cost {
    display: none;
}
.face-down {
	background: #1155AA !important;
}
.opponents {
    height: 170px;
    background: #555;
    position: relative;
}
.opponents .player {
    float: left;
    background: #444;
    display: block;
    height: 160px;
    width: 200px;
    position: relative;
    margin: 5px;
}
.opponents .player .card {
    border-radius: 2px;
    font-size: 8px;
    overflow: hidden;
    margin-right: -28px;
}
.opponents .player .deck .card, .opponents .player .discarded .card {
    margin-right: -33px !important;
}
.opponents .player .deck {
    bottom: 85px;
    left: 5px;
    position: absolute;
}
.opponents .player .discarded {
    bottom: 5px;
    left: 5px;
    position: absolute;
}
.opponents .player .hand {
    bottom: 85px;
    left: 100px;
    position: absolute;
}

.debug .bank {
    height: 500px;
}
.bank {
    background: #666;
    height: 220px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.played .trash {
    position: absolute;
    left: 0px;
    top: 0px;
}
.bank .card {
    height: 85px;
    transition: 0.5s opacity;
    position: relative;
    margin: 5px;
}
.bank .card .card-description {
    display: none;
    position: absolute;
    top: 23px;
    left: 0px;
    opacity: 1 !important;
    z-index: 1;
    border: 2px solid black;
}
.bank .hover.card {
	display: none;
}
.bank .card:hover .card-description {
	display: block;
}

.played {
    position: relative;
    background: #777;
    height: 260px;
    box-sizing: border-box;
    padding-top: 20px;
    background-image: url("http://i.imgur.com/Jcn6ZoK.jpg?");
    background-size: 100%;
    opacity: 0.85;
}
.played-cards .acquired {
    margin-left: -105px;
    margin-top: 30px;
}
.played-cards .card {
//	opacity: 0.3;
}
.played-cards.stacked .card {
//	margin-right: -60px;
}
.played-cards .card:last-child{
	opacity: 1;
	box-shadow: 0px 0px 5px 5px rgba(255,255,255, 0.9);
}

.you {
    background: #888;
    position: relative;
    height: 150px;
    box-sizing: border-box;
}
.you .player {
    background: #888;
    height: 150px;
    position: relative;
}
.you .hand {
    position: absolute;
    bottom: 5px;
    left: 100px;
}
.you .hand .card:not(.ng-leave-active):hover {
	margin-right: -20px;
	height: 180px;
	width: 120px;
	margin-top: -55px;
}
.you .hand .card.animation.ng-leave-active {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    margin-top: -30px;
    margin-left: -50px;
}
.you .hand .card {
    margin-right: -50px;
}
.table.action .you .active .hand.has-actions .action.card {
    box-shadow: 0px 0px 5px 5px rgba(0,255,0, 0.9);
}
.you .active .hand .treasure.card {
//   box-shadow: 0px 0px 5px 5px rgba(255,255,0, 0.9);
}
.xxxtable.buy .you .hand .treasure.card {
    box-shadow: 0px 0px 5px 5px rgba(255,255,0, 0.9);
}
.you .deck {
    position: absolute;
    bottom: 75px;
    left: 5px;
}
.you .deck .card-name {
	display: none;
}
.you .discarded {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.you .deck .card, .you .discarded .card {
    margin-right: -33px !important;
    border-radius: 2px;
    font-size: 8px;
    overflow: hidden;
}

.active.player {
    opacity: 1;
    box-shadow: 0px 0px 2px 5px red;
}
.player {
    opacity: 0.2;
    transition: 0.5s all;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}




.disabledx {
    opacity: 0.2;
}

#broadcast {
  font-size: 36px;
  position: absolute;
  bottom: 40px;
  left: 200px;
  transition: 0.7s;
}

#output {
    height: 160px;
    overflow: auto;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #ddd;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    width: 400px;
    padding: 5px;
    font-size: 12px;
    font-family: courier;
}

.played-cards {
    margin-left: 200px;
}
.played-zone .card {
    margin-right: -50px;
}

.board {
    clear: both;
    padding: 10px 10px;
    box-sizing: border-box;
}

.board {
    width: 100%;
    background: #dddddd;
    border-bottom: 5px solid #555;
}

.board .card {
    -webkit-transition: 0.5s opacity;
}

.your.player {
    width: 100%;
    position: relative;
}

.your.player.disabled {
    opacity: 0.5;
}

.turn-info {
    position: absolute;
    left: 0px;
    top: 0px;
    list-style: none;
}

.playable {
    box-shadow: 0px 0px 2px 2px #8FFF00;
}

.treasure.card {
    background: rgb(237, 205, 56);
}

.victory.card {
    background: rgb(126, 186, 126);
}

.action.card {
    background: #eee;
}
.victory.action.card {
    background: rgb(126, 186, 126);
}
.curse.card {
    background: rgb(188, 111, 222);
}


.card {
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 5px;
    margin-right: 5px;
    list-style: none;
    display: block;
    width: 100px;
    height: 140px;
    border-radius: 5px;
   // box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.23);
    float: left;
    box-sizing: border-box;
    background: #aaa;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 10px;
    user-select: none;
}

.card-name {
    left: 0px;
    top: 5px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgb(53, 22, 0);
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
}

.card-type {
    left: 0px;
    bottom: 5px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgb(53, 22, 0);
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    font-family: monospace;
}

.card-description {
    left: 0px;
    top: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 8px;
    padding: 5px;
    text-transform: uppercase;
    font-family: monospace;
    box-sizing: border-box;
}

.card-cost {
    position: absolute;
    bottom: 8px;
    left: 2px;
    background: rgba(234, 200, 11, 1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 10px;
    color: black;
    height: 10px;
    line-height: 12px;
    text-align: center;
    font-size: 8px;
    font-family: monospace;
}
.icon {
    clear: both;
    padding: 5px;
}
.icon i.fa-shopping-cart {
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background: rgba(111, 88, 22, 1);
    border-radius: 25px;
    float: left;
}
.icon i.fa-circle-o {
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background: rgba(234, 200, 11, 1);
    border-radius: 25px;
    float: left;
}
.icon i.fa-share {
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background: rgba(99, 155, 222, 1);
    border-radius: 25px;
    float: left;
}
.icon div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 20px;
    font-family: monospace;
}
.player-stats {
    position: absolute;
    left: 110px;
    top: 10px;
}
.stacked.card {
    margin-right: -104px;
}
.start.button {
    border: 1px solid #444;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    list-style: none;
    display: block;
    width: 100px;
    height: 100px;
    line-height: 40px;
    float: left;
    background: #3355dd;
    text-align: center;
    border-radius: 3px;
}

.select.button {
    display: none;
}
.choice-dialog .message {
    text-align: center;
}

.choice {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

ul {
    clear: both;
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h4 {
    padding-top: 20px;
}

.animation {
    -webkit-transition: 0.2s;
    opacity: 1;
    transform-origin: 0% 100%;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
}
.animation.ng-enter {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
}

.animation.ng-enter-stagger {
  //  transition-delay: 0.05s;
  //  animation-delay: 0.05s;
}

.animation.ng-leave {
    -webkit-transition: 0.25s;
}


