@import url(http://reset5.googlecode.com/hg/reset.min.css);
* {
    font-family: arial;
    user-select: none;
    -webkit-user-select: none;
}

body {
    overflow-x: hidden;
}

.table {
    height: 800px;
    width: 1100px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    margin-top: -400px;
    top: 50%;
    background: black;
}
.table.select .bank .buyable .card, .table.select .you .hand .card, .table.select .played .card, .table.select .revealed .card {
    opacity: 0.2;
}
.selectable {
    opacity: 1 !important;
    box-shadow: 0px 0px 5px 5px rgba(0,255,0, 0.9);
}
.choosable {
    opacity: 1 !important;
    box-shadow: 0px 0px 5px 5px rgba(0,255,0, 0.9);
}

.dialog {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border: 1px solid black;
    background: white;
    width: 300px;
    text-align: center;
}
.dialog .button {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}
.choice-dialog .button {
    opacity: 0.2;
}
.select-dialog .button {
     box-shadow: 0px 0px 5px 5px rgba(0,255,0, 0.9);
}



.small.card {
    height: 70px;
    width: 50px;
}
.small.card .card-description, .small.card .card-type, .small.card .card-cost {
    display: none;
}

.opponents {
    height: 250px;
    background: #555;
}
.opponents .player {
    float: left;
    background: #444;
    display: block;
    height: 240px;
    width: 200px;
    position: relative;
    margin: 5px;
}
.opponents .player .card {
    border-radius: 3px;
    margin-right: -40px;
}
.opponents .player .deck .card, .opponents .player .discarded .card {
    margin-right: -49px !important;
}
.opponents .player .deck {
    bottom: 5px;
    left: 5px;
    position: absolute;
}
.opponents .player .discarded {
    bottom: 5px;
    left: 100px;
    position: absolute;
}
.opponents .player .hand {
    bottom: 105px;
    left: 5px;
    position: absolute;
}

.debug .bank {
    height: 500px;
}
.bank {
    background: #666;
    height: 180px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 130px;
    padding-right: 300px;
    position: relative;
}
.bank .trash {
    position: absolute;
    left: 0px;
    top: 0px;
}
.bank .card {
    height: 50px;
    transition: 0.5s all;
}
.bank .card .card-description {
    display: none;
}
.bank .log {
    position: absolute;
    right: 0px;
}

.played {
    position: relative;
    background: #777;
}

.you {
    background: #888;
    position: relative;
    height: 220px;
    box-sizing: border-box;
}
.you .player {
    background: #888;
    height: 220px;
    position: relative;
}
.you .hand {
    position: absolute;
    bottom: 5px;
    left: 190px;
}
.you .deck {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.you .discarded {
    position: absolute;
    bottom: 5px;
    left: 100px;
}
.you .deck .card, .you .discarded .card {
    margin-right: -49px !important;
}

.active.player {
    opacity: 1;
    box-shadow: 0px 0px 2px 5px red;
}
.player {
    opacity: 0.2;
    transition: 0.5s all;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}




.disabledx {
    opacity: 0.2;
}

#output {
    height: 100px;
    overflow: auto;
    position: absolute;
    right: 0px;
    width: 100%;
    bottom: 0px;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    width: 300px;
    padding: 5px;
    font-size: 12px;
    font-family: courier;
}

.played-cards {
    margin-left: 200px;
}
.played-zone .card {
    margin-right: -50px;
}

.board {
    clear: both;
    padding: 10px 10px;
    box-sizing: border-box;
}

.board {
    width: 100%;
    background: #dddddd;
    border-bottom: 5px solid #555;
}

.board .card {
    -webkit-transition: 0.5s;
}

.your.player {
    width: 100%;
    position: relative;
}

.your.player.disabled {
    opacity: 0.5;
}

.turn-info {
    position: absolute;
    left: 0px;
    top: 0px;
    list-style: none;
}

.playable {
    box-shadow: 0px 0px 2px 2px #8FFF00;
}

.treasure.card {
    background: rgb(237, 205, 56);
}

.victory.card {
    background: rgb(126, 186, 126);
}

.action.card {
    background: #eee;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin-right: 5px;
    list-style: none;
    display: block;
    width: 100px;
    height: 140px;
    border-radius: 5px;
   // box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.23);
    float: left;
    box-sizing: border-box;
    background: #aaa;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 10px;
    user-select: none;
}

.card-name {
    left: 0px;
    top: 5px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgb(53, 22, 0);
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
}

.card-type {
    left: 0px;
    bottom: 5px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    background: rgb(53, 22, 0);
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    font-family: monospace;
}

.card-description {
    left: 0px;
    top: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 8px;
    padding: 5px;
    text-transform: uppercase;
    font-family: monospace;
    box-sizing: border-box;
}

.card-cost {
    position: absolute;
    bottom: 8px;
    left: 2px;
    background: rgba(234, 200, 11, 1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 10px;
    color: black;
    height: 10px;
    line-height: 12px;
    text-align: center;
    font-size: 8px;
    font-family: monospace;
}
.icon {
    clear: both;
    padding: 5px;
}
.icon i.fa-shopping-cart {
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background: rgba(111, 88, 22, 1);
    border-radius: 25px;
    float: left;
}
.icon i.fa-circle-o {
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background: rgba(234, 200, 11, 1);
    border-radius: 25px;
    float: left;
}
.icon i.fa-share {
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background: rgba(99, 155, 222, 1);
    border-radius: 25px;
    float: left;
}
.icon div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 20px;
    font-family: monospace;
}
.player-stats {
    position: absolute;
    left: 110px;
    top: 10px;
}
.end.button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
}
.buyable .card {}

.stacked.card {
    margin-right: -98px;
}

.end.button, .start.button {
    border: 1px solid #444;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    list-style: none;
    display: block;
    width: 100px;
    height: 100px;
    line-height: 40px;
    float: left;
    background: #3355dd;
    text-align: center;
    border-radius: 3px;
}

.select.button {
    display: none;
}
.choice-dialog .message {
    text-align: center;
}

.choice {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

ul {
    clear: both;
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h4 {
    padding-top: 20px;
}

.animation {
    -webkit-transition: 0.2s;
    opacity: 1;
    transform-origin: 0% 100%;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
}
.animation.ng-enter {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
}

.animation.ng-enter-stagger {
    transition-delay: 0.05s;
    animation-delay: 0.05s;
}

.animation.ng-leave {
    -webkit-transition: 0s;
}
/*
.animation.ng-leave-active {
    opacity: 0.5;
    -webkit-transition: 0s;
    -webkit-transform: rotateY(50deg);
}*/
